* {
  margin: 0;
  padding: 0;
}

.Main {
  width: 100vw;
  height: 100vh;
}
.Polyrhythm {
  width: 100vw;
  height: 100vh;
}

.Starter {
  position: absolute;
  background-color: black;
  width: 100vw;
  height: 100vh;
}
